.container {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 0.5rem;
  margin-top: 2rem;
}

.container > div {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  padding: 0.5rem;
  background-color: powderblue;
}

.container > div > label {
  padding: 0.5rem;
}

.container > div > input {
  padding-inline: 0.5rem;
  background-color: powderblue;
  border: none;
  outline: none;
}

.container > div > button {
  width: max-content;
  padding: 0.5rem;
  border: none;
  background-color: #fff;
  place-self: flex-end;
  cursor: pointer;
}
