.container {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: mediumseagreen;
  padding: 1rem;
}

.visible {
  display: block;
}

.error {
  background-color: peru;
}
