.container {
  width: 100%;
  background-color: powderblue;
  padding-top: 0.5rem;
}

.container > div {
  list-style: none;
  width: 40%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container > div > a {
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

.container > div > a:hover {
  background-color: cornsilk;
}
